.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  width: 40vw;
  height: 60vh;
  background-color: #3d3725;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.work-area-table {
  width: 100%;
}

.work-area-table td,
.work-area-table th {
  border: 1px solid #fff;
  border-left: 0;
  padding: 4px;
}
